@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    list-style: none;
    box-sizing: border-box;
  }
  html{
    scroll-behavior: smooth;
  }
  /* Navbar */
  .nav {
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
  }
  .nav ul li {
    margin-left: 30px;
  }
  .nav ul li a {
    color: black;
  }
  .nav2 ul li {
    margin-right: 200px;
  }
  .nav2 ul li span {
    font-size: 26px;
    font-weight: bolder;
    color: rgba(19, 117, 58, 0.911);
  }
  .nav3 ul li {
    margin-right: 20px;
  }
  .nav ul li {
    display: inline-block;
  }
  .nav ul li a:hover{
    color: rgba(19, 117, 58, 0.911);
    transition: .5s;
  }
  .hovernav {
    display: inline-block;
    position: relative;
    color: rgba(19, 117, 58, 0.911);
  }
  
  .hovernav:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(19, 117, 58, 0.911);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hovernav:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .active {
    color: rgba(19, 117, 58, 0.911);
  }
  .permbajtja{
    width :100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgb(0,0,0,.7)),url(../img/backgroundi1.jpg);
    background-position: center;
    background-size:cover ; 

  }
  
  .row{
    display:flex;
    height: 88%;
    align-items: center;
    margin-left: 30px;
 
  }
  .col{
    flex-basis:50%;
  }
  h1{
    color:white;
    font-size:70px;
  }
  p{
    color:white;
    font-size:14px;
    line-height: 20px;
  }
  button{
    position: absolute;
    left: 40px;
    width: 150px;
    height: 50px;
    font-size: 30px;
  }
  button{
    background: none;
    color: #ccc;
    width: 200px;
    height: 50px;
    margin: 15px;
    border: 1px solid #338033;
    font-size: 18px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
  }
  button:focus {
    outline: none;

  }
  button:before{
    content:'';
    display: block;
    position: absolute;
    background:rgb(255,255,255,.5) ;
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5s;
    filter: blur(30px);
    transform: translateX(-130px)skewX(-15deg);

  }
  button:after{
    content:'';
    display: block;
    position: absolute;
    background:rgb(255,255,255,.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translate(-100)scaleX(-15deg);

  }
 button:hover {
  background: #338033;
  cursor: pointer;
  }
  button:hover:before{
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
  }
  button:hover:after{
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
  }
  
  .card{
    width:200px;
    height:270px;
    display:inline-block;
    border-radius: 10px;
    padding:15px 25px;
    box-sizing: border-box;
    cursor:pointer;
    margin:10px 15px;   
    background-position: center;
    background-size:cover;
    transition:transform 0.9s;

  }
  .card1{
    background-image: linear-gradient(rgba(0,0,0,.3),rgb(0,0,0,.3)),url(../img/running.jpg);
  }
  .card2{
    background-image: linear-gradient(rgba(0,0,0,.3),rgb(0,0,0,.3)),url(../img/man1.jpg);
  }
  .card3{
    background-image: linear-gradient(rgba(0,0,0,.3),rgb(0,0,0,.3)),url(../img/traning.jpg);
  }
  .card4{
    background-image: linear-gradient(rgba(0,0,0,.3),rgb(0,0,0,.3)),url(../img/betterman1.jpg);
  }
  .card5{
    background-image: linear-gradient(rgba(0,0,0,.3),rgb(0,0,0,.3)),url(../img/happy.webp);
  }
  .card6{
    background-image: linear-gradient(rgba(0,0,0,.3),rgb(0,0,0,.3)),url(../img/motivation1.jpg);
  }
  .card:hover {
    transform: translateY(-10px);
    transition: .50s;
  }
  h5{
    color: white;
    font-weight: bold;
  }
  .pg1{
    margin: auto;
    width: 100%;
    padding: 40px;
    font-weight: bold;
  }
  .pg2{
    margin: auto;
    width: 100%;
    padding: 40px;
    font-weight: bold;
  }
  .pg3{
    margin: auto;
    width: 100%;
    padding: 40px;
    font-weight: bold;
  }
  .pg4{
    margin: auto;
    width: 100%;
    padding: 40px;
    font-weight: bold;
  }
  .pg5{
    margin: auto;
    width: 100%;
    padding: 40px;
    font-weight: bold;
  }
  .pg6{
    margin: auto;
    width: 100%;
    padding: 40px;
    font-weight: bold;
  }
  .txtOur {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
.txtOur1 h1 {
  font-size: 36px;
  color: black;
  margin-bottom: 15px;
  font-weight: 700px;
  justify-content: center;
}
.txtOur1 span {
  color:gray;
  margin-bottom: 15px;
  margin-left: 30px;
  font-weight: 700px;
  justify-content: center;
}
.txtOur1 hr {
  width: 100px;
  color: rgba(19, 117, 58, 0.911);
  margin: 25px auto;
}
hr {
  width: 70%;
  margin: 0 auto;
  color: gray;
}

.our-classes {
  background-color: #000;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 75px;
  max-width: 350px;
  min-width: 230px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.our-classes * {
  box-sizing: border-box;
  transition: all 0.35s ease;
}

.our-classes h3 {
  background-color:rgba(19, 117, 58, 0.911);;
  border: 2px solid #fff;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  padding: 5px 10px;
  text-transform: uppercase;
}

.our-classes:before,
.our-classes:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.35s ease;
  background-color:  rgba(19, 117, 58, 0.911);
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  content: '';
  opacity: 0.9;
  z-index: 1;
}

.our-classes:before {
  transform: skew(45deg) translateX(-155%);
}

.our-classes:after {
  transform: skew(45deg) translateX(155%);
}

.our-classes img {
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
}

.our-classes figcaption  {
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 2;
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  box-shadow: 0 0 10px  rgba(19, 117, 58, 0.911);;
}

.our-classes a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
.our-classes:hover > img,
.our-classes.hover > img {
  opacity: 0.5;
}

.our-classes:hover:before,
.our-classes.hover:before {
  transform: skew(45deg) translateX(-55%);
}

.our-classes:hover:after,
.our-classes.hover:after {
  transform: skew(45deg) translateX(55%);
}

.our-classes:hover figcaption,
.our-classes.hover figcaption {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.paragrafi{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgba(19, 117, 58, 0.911);
  font-size: 20px;
}
.p1{
  height: 100px;
  width: 24%;
  float: left;
}
.p2{
  height: 100px;
  width: 24%;
  float: left;
}
.p3{
  height: 100px;
  width: 24%;
  float:right;

}
.coach-- {
  font-size: 42px;
  line-height: 42px;
  text-align: center;
  margin-top: 40px;
  font-weight: 400;
}
.coach {
  background-image: linear-gradient(rgba(0,0,0,0.7),rgb(0,0,0,.7)),url(../img/trajneri.jpg);
  text-align: center;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.coach img {
  width: 35%;
  border-radius: 50%;
}

.coach h2 {
  margin: 6px auto;
  font-weight: 300;
  color: white;
}
.coach1 {
  width: 30%;
}
.coach2 {
  width: 30%;
}
.coach3 {
  width: 30%;
}
.coach p {
  width: 400px;
  margin: 10px auto;
  color: white;
  font-size: 15px;
  font-weight: 100;
}

.coach h3 {
  font-weight: 100;
  color: white;
  margin-bottom: 20px;
  font-size: 14px;
}


  /* footer */
  .container{

    max-width: 1170px;
    margin:auto;
    margin-left: 400px;
  }
  .row{
    
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }
  .footer{
    border-top: 1px solid lightslategray;
    background-color: white;
      padding: 70px 0;
  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  .footer-col h4{
    font-size: 18px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: lightslategray;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: black;
    display: block;
    transition: all 0.3s ease;
  } 
  .footer-col ul li a:hover{
    color: rgba(19, 117, 58, 0.911);
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:black;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: rgba(19, 117, 58, 0.911);
  }
  .cnt{
      color: black;
  }
  