
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

.txt_field {
  position: relative;
  margin-bottom: 1.5em;
}

.txt_field input, .txt_field textarea {
  font-size: 1em;
  padding: 0.5em 1em;
  border: none;
  border-bottom: 2px solid #ccc;
  width: 100%;
  background-color: transparent;
}

.txt_field input:focus, .txt_field textarea:focus {
  outline: none;
}

.txt_field label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1em;
  pointer-events: none;
  transition: all 0.3s ease-out;
}

.txt_field input:focus ~ label, .txt_field textarea:focus ~ label, .txt_field input:valid ~ label, .txt_field textarea:valid ~ label {
  transform: translateY(-100%);
  font-size: 0.8em;
  color: #333;
}

.txt_field span {
  position: absolute;
  bottom: -1.5em;
  left: 0;
  font-size: 0.8em;
  color: red;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.txt_field input:invalid + span, .txt_field textarea:invalid + span {
  visibility: visible;
  opacity: 1;
}

#subject {
  resize: none;
  font-size: 1em;
  padding: 0.5em 1em;
  border: none;
  border-bottom: 2px solid #ccc;
  width: 100%;
  background-color: transparent;
}

input[type="submit"] {
  margin-top: 1em;
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  background-color: rgba(19, 117, 58, 0.911);;
  color: white;
  font-size: 1em;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

.contact-form {
  width: 70%;
  max-width: 500px;
  margin: 2em auto;
}
