.nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
  }
.nav ul li {
margin-left: 30px;
}
.nav ul li a {
color: black;
}
.nav2 ul li {
margin-right: 350px;
}
.nav2 ul li span {
font-size: 26px;
font-weight: bolder;
color: rgba(19, 117, 58, 0.911);
}
.nav3 ul li {
margin-right: 20px;
}
.nav ul li {
display: inline-block;
}
.nav ul li a:hover{
color: rgba(19, 117, 58, 0.911);
transition: .5s;
}
.hovernav {
display: inline-block;
position: relative;
color: rgba(19, 117, 58, 0.911);
}

.hovernav:after {
content: '';
position: absolute;
width: 100%;
transform: scaleX(0);
height: 2px;
bottom: 0;
left: 0;
background-color: white;
transform-origin: bottom right;
transition: transform 0.25s ease-out;
}

.hovernav:hover:after {
transform: scaleX(1);
transform-origin: bottom left;
}
.active {
color: rgba(19, 117, 58, 0.911);
}

/*main*/
.main{
	background-image: linear-gradient(rgba(0,0,0,0.7),rgb(0,0,0,.7)),url(../img/news/gi.jpg);
}
h1 {
  margin-top: 15px;
  margin-left: 50px;
  margin-bottom:-150px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}
.hit-plus{
	display: inline-block;
position: relative;
color: white;
}
.hit-plus:after{
	content: '';
position: absolute;
width: 100%;
transform: scaleX(0);
height: 2px;
bottom: 0;
left: 0;
background-color: white;
transform-origin: bottom right;
transition: transform 0.25s ease-out;
}
.hit-plus:hover:after{
	transform: scaleX(1);
transform-origin: bottom left;
}
.active {
	color:white;
	}
	

#slider {
	overflow: hidden;
    height: 500px;
    width: 500px;
    margin-left: 155px;
    margin-top: 50px;
}
#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}
#slider figure img {
	width: 20%;
	float: left;
}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
}

#slider-1 {
	overflow: hidden;
    width: 700px;
    margin-left: 675px;
    margin-top: -500px ;
}
#slider-1 figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 25s slider infinite;
}
#slider-1 figure img {
	width: 20%;
	float: left;
}
@keyframes slider-1 {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
}



#slider-2 {
	overflow: hidden;
    width: 400px;
    margin-left: 665px;
    margin-top: 10px ;
}
#slider-2 figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 10s slider infinite;
}
#slider-2 figure img {
	width: 20%;
	float: left;
}

@keyframes slider-2 {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
}

#slider-3 {
	overflow: hidden;
    width: 500px;
    height: 600px;
    margin-left: 155px;
    margin-top: -380px ;
}
#slider-3 figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 15s slider infinite;
}
#slider-3 figure img {
	width: 20%;
	float: left;
}

@keyframes slider-3 {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
}

#slider-4 {
	overflow: hidden;
  width: 300px;
  height:300px;
  margin-left: 1075px;
  margin-top: -485px;
}
#slider-4 figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 30s slider infinite;
}
#slider-4 figure img {
	width: 20%;
	float: left;
}
@keyframes slider-4 {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
}
hr{
	width: 1100px;
	margin-left: 200px;
}
.inbody{
	height: 300px;
	width: 400px;
	margin-left: 150px;
	margin-top: 30px;
}
.inbody img{
	height: 260px;
	width: 400px;
}
.inbody { transition: all .2s ease-in-out; }
.inbody:hover { transform: scale(1.1); }
.inbody:hover { transform: scale(1.1); }
.inbody:hover { transform: scale(1.1); }
.inbody :hover {
  color: black;
  transition: .5s;
}
.body-1{
	height: 300px;
	width: 1000px;
	margin-left: 550px;
	margin-top: -300px;
	margin-bottom: -20px;
}
.body-1 h1 {
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 35px;
	font-style: italic;
}
.body-1 p {
	margin-left: 30px;
	margin-top: 200px;
	margin-bottom: -20px;
	font-size:15px
}	

/* Footer */
.container{

max-width: 1170px;
margin:auto;
margin-left: 400px;
}
.row{

display: flex;
flex-wrap: wrap;
}
ul{
list-style: none;
}
.footer{
border-top: 1px solid lightslategray;
background-color: white;
  padding: 70px 0;
}
.footer-col{
 width: 25%;
 padding: 0 15px;
}
.footer-col h4{
font-size: 18px;
color: black;
text-transform: capitalize;
margin-bottom: 35px;
font-weight: 500;
position: relative;
}
.footer-col h4::before{
content: '';
position: absolute;
left:0;
bottom: -10px;
background-color: lightslategray;
height: 2px;
box-sizing: border-box;
width: 50px;
}
.footer-col ul li:not(:last-child){
margin-bottom: 10px;
}
.footer-col ul li a{
font-size: 16px;
text-transform: capitalize;
color: #ffffff;
text-decoration: none;
font-weight: 300;
color: black;
display: block;
transition: all 0.3s ease;
} 
.footer-col ul li a:hover{
color: rgba(19, 117, 58, 0.911);
padding-left: 8px;
}
.footer-col .social-links a{
display: inline-block;
height: 40px;
width: 40px;
background-color: rgba(255,255,255,0.2);
margin:0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color:black;
transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
color: rgba(19, 117, 58, 0.911);
}
.cnt{
  color: black;
}