@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    list-style: none;
    box-sizing: border-box;
  }
  /* Navbar */
  .nav {
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
  }
  .nav ul li {
    margin-left: 30px;
  }
  .nav ul li a {
    color: black;
  }
  .nav2 ul li {
    margin-right: 200px;
  }
  .nav2 ul li span {
    font-size: 26px;
    font-weight: bolder;
    color: rgba(19, 117, 58, 0.911);
  }
  .nav3 ul li {
    margin-right: 20px;
  }
  .nav ul li {
    display: inline-block;
  }
  .nav ul li a:hover{
    color: rgba(19, 117, 58, 0.911);
    transition: .5s;
  }
  .hovernav {
    display: inline-block;
    position: relative;
    color: rgba(19, 117, 58, 0.911);
  }
  
  .hovernav:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(19, 117, 58, 0.911);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hovernav:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .active {
    color: rgba(19, 117, 58, 0.911);
  }

.shop {
    border-top: 1px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;

}
.dropbtn {
    background-color: rgba(19, 117, 58, 0.911);
    color: rgb(255, 255, 255);
    padding: 16px;
    width: 319px;
    font-size: 20px;
    border: none;

  }

  .dropdown {
    width: 319px;
    height: 1200px;
    position: relative;
    display: inline-block;
    background-color:  rgb(255, 255, 255);

  }

  .dropdown-content {
    width: 200px;
    display: none;
    position: absolute;
    background-color:rgb(255, 255, 255);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content button {
    cursor: pointer;
    background: transparent;
    border: none;
  }

  .dropdown-content button {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
  }


  .dropdown-content button:hover {
color: rgba(19, 117, 58, 0.911);}

  .dropdown:hover .dropdown-content {display: block;}

  .dropdown:hover .dropbtn {
    border: none;
    color: #ffffff;
}
.butoni {
    font-size: 20px;
    color: black;
    border: none;
    background-color: transparent;    
}
.butoni:hover {
    color: green;
    cursor: pointer;
}
.rreshti {
    width: 1200px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 17px;

}
.item {
    width: 300px;
    height: 360px; 
    border: 1px solid gray;
    
}
.item img{
    width: 250px;
    height: 250px;
}
.item button {
    font-size: 16px;
    width: 100px;
    color: black;
    background-color: transparent;
    cursor: pointer;
}
.item button:hover {
    color: rgba(19, 117, 58, 0.911);
    transform: scale(1.1);
    transition: .5s;
}








/* Footer */
  .container{

    max-width: 1170px;
    margin:auto;
    margin-left: 400px;
  }
  .row{
    
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }
  .footer{
    border-top: 1px solid lightslategray;
    background-color: white;
      padding: 70px 0;
  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  .footer-col h4{
    font-size: 18px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: lightslategray;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: black;
    display: block;
    transition: all 0.3s ease;
  } 
  .footer-col ul li a:hover{
    color: rgba(19, 117, 58, 0.911);
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:black;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: rgba(19, 117, 58, 0.911);
  }
  .cnt{
      color: black;
  }
  