/* Header Picture */
  .fotoja {
    position: relative;
  }
  #mainF {
    width: 100%;
    height: 650px;
    opacity: 95%;
  }
  .textimg {
    position: absolute;
    top: 200px;
    left: 30px;
    color: white;
    font-weight: bold;
    font-size: 50px;
  }
  .textImg a {
    text-align: center;
    margin-top: 1009px;
  }
  .textimg button a{
    padding-top: 10px;
    position: absolute;
    left: 40px;
    width: 150px;
    height: 50px;
    font-size: 30px;
  }
  .textimg button a{
    background: none;
    color: #ccc;
    width: 200px;
    height: 50px;
    margin: 15px;
    border: 1px solid #338033;
    font-size: 18px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
  }
  .textimg button a:focus {
    outline: none;

  }
  .textimg button a:before{
    content:'';
    display: block;
    position: absolute;
    background:rgb(255,255,255,.5) ;
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5s;
    filter: blur(30px);
    transform: translateX(-130px)skewX(-15deg);

  }
  .textimg button a:after{
    content:'';
    display: block;
    position: absolute;
    background:rgb(255,255,255,.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translate(-100)scaleX(-15deg);

  }
  .textimg button a:hover {
  background: #338033;
  cursor: pointer;
  }
  .textimg button a:hover:before{
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
  }
  .textimg button a:hover:after{
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
  }
  .trupi{
    margin-top: 30px;
    font-size: 17px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
#slider{
    width: 700px;
    height: 450px;
}
.fit1{
    width: 45%;
}
.fit{
    width: 45%;
}
.fit p {
  color: gray;
}
.fit button {
    display: inline-block;
    border-radius: 4px;
    background-color: rgba(19, 117, 58, 0.911);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 220px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 250px;
  }
  
  .fit button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .fit button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .fit button:hover span {
    padding-right: 25px;
  }
  
  .fit button:hover span:after {
    opacity: 1;
    right: 0;
  }

.trupi h1,p{
    margin-left: 30px;
}
.trupi h1 {
  font-size: 36px;
}


hr {
    width: 70%;
    margin: 0 auto;
    color: gray;
  }
  .showitems {
    padding-bottom: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 500px;
    color: gray;
  }
  .item1 {
    height: 300px;
    width: 300px;
  }
  .item1 img {
    width: 100%;
  }
  .item2 {
    height: 300px;
    width: 300px;
  }
  .item2 img {
    width: 100%;
  }
  .item3 {
    height: 300px;
    width: 300px;
  }
  .item3 img {
    width: 100%;
  }
  .showitems a {
    margin-left: 95px;
    color: rgba(19, 117, 58, 0.911);
    font-size: 20px;
  }
  .item1,.item2,.item3 { transition: all .2s ease-in-out; }
  .item1:hover { transform: scale(1.1); }
  .item2:hover { transform: scale(1.1); }
  .item3:hover { transform: scale(1.1); }
  .showitems a:hover {
    color: black;
    transition: .5s;
  }
  .testimonals {
    font-size: 42px;
    line-height: 42px;
    text-align: center;
    margin-top: 44px;
    font-weight: 500;
  }
  .easy {
    text-align: center;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .easy img {
    width: 25%;
    border-radius: 50%;
  }
  
  .easy h2 {
    margin: 6px auto;
    font-weight: 300;
  }
  .easy1 {
    width: 30%;
  }
  .easy2 {
    width: 30%;
  }
  .easy3 {
    width: 30%;
  }
  .easy p {
    width: 400px;
    margin: 10px auto;
    color: #8b8a8a;
    font-size: 20px;
    font-weight: 100;
  }
  
  .easy h3 {
    font-weight: 100;
    color: var(--gray);
    margin-bottom: 20px;
    font-size: 14px;
  }

.subscribe {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.subscribe-box {
  height: 400px;
  background: #fff;
  padding: 60px 100px;
  width: 800px;
  text-align: center;

}
.subscribe-box h1 {
  font-size: 36px;
  color: black;
  margin-bottom: 15px;
  font-weight: 700;
}
.subscribe-box span {
  color: #999;
  font-size: 16px;
}
.subscribe-box hr {
  width: 70px;
  color: rgba(19, 117, 58, 0.911);
  margin: 25px auto;
}
.subscribe-box input {
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #999;
  border-radius: 5px;
  margin-bottom: 25px;
}
.subscribe-box input:focus-visible {
  border: 1px solid rgba(19, 117, 58, 0.911);
  outline: rgba(19, 117, 58, 0.911);
}
.subscribe-box button {
  width: 100%;
  padding: 15px 20px;
  border: 0;
  border-radius: 5px;
  background: rgba(19, 117, 58, 0.911);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  transition: .3s;
}
.subscribe-box button:hover {
  background: #196b49;
}

  
  @media only screen and (max-width: 767px) {
    .nav {
      height: 40px;
      width: 100%;
    }
    .nav ul li {
      margin-left: 10px;
      font-size: 10px;
    }
    .nav2 ul li {
      margin-right: 60px;
    }

    #mainF {
      width: 100%;
      height: 300px;
      opacity: 95%;
    }

    .textimg {
      position: absolute;
      top: 120px;
      left: 40px;
      color: white;
      font-weight: bold;
      font-size: 12px;
    }
    .textImg a {
      text-align: center;
      margin-top: 1000px;
    }
    .textimg button a{
      padding-top: 10px;
      position: absolute;
      left: 5px;
      width: 50px;
      height: 10px;
      font-size: 30px;
    }
    .textimg button a{
      background: none;
      color: #ccc;
      width: 80px;
      height: 35px;
      margin: 15px;
      border: 1px solid #338033;
      font-size: 10px;
      border-radius: 4px;
      transition: .6s;
      overflow: hidden;
    }

    .trupi{
      margin-top: 20px;
      font-size: 17px;
      display: flex;
      justify-content: space-around;
      margin-bottom: 50px;
  }
  #slider{
      width: 400px;
      height: 300px;
      margin-left: 30px;
  }
  .fit1{
      width: 45%;
  }
  .fit{
      width: 45%;
      display: flex;
      flex-direction: column;
  }
  .fit p {
    color: gray;
  }
  .fit button {
      font-size: 14px;
      padding: 15px;
      width: 90px;
      transition: all 0.5s;
      cursor: pointer;
      margin-top: 20px;
      margin-left: -50px;
    }

    .fit button span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -5px;
      transition: 0.5s;
    }
    
    .fit button:hover span {
      padding-right: 10px;
    }
  
  .trupi h1{
      margin-left: -210px;
      margin-top: 330px;
      font-size: 24px;
  }
  .trupi p {
    margin-left: -210px;
    font-size: 18px;
  }

  .showitems {
    margin-top: 100px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 1000px;
    color: gray;
    margin-left: 10px;
    margin-bottom: 50px;
  }
  .item1 {
    height: 450px;
  }
  .item2 {
    height: 450px;
  }
  .item3 {
    height: 450px;
  }

  .testimonals {
    font-size: 42px;
    line-height: 42px;
    text-align: center;
    margin-top: 44px;
    font-weight: 500;
  }

  .easy img {
    width: 50%;
    border-radius: 50%;
  }
  
  .easy p {
    width: 150px;
    margin: 10px auto;
    color: #8b8a8a;
    font-size: 12px;
    font-weight: 100;
  }
  
  .subscribe {
    margin-left: 15px;
    height: 500px;
  }
  .subscribe-box {
    height: 500px;
    width: 100%;
  
  }
  .subscribe-box h1 {
    font-size: 29px;
  }

  .container{

    max-width: 500px;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 140px;
    font-size: 12px;
  }
  .row{
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }
  .footer{
    border-top: 1px solid lightslategray;
    background-color: white;
      padding: 70px 0;
  }
  h4 {
    font-size: 12px ;
}
  .footer-col{
     margin-bottom: 20px;
     width: 300px;
  }

  .nav2 ul li span {
    font-size: 12px;
  }


  }