@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    list-style: none;
    box-sizing: border-box;
  }
  /* Navbar */
  .nav {
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
  }
  .nav ul li {
    margin-left: 30px;
  }
  .nav ul li a {
    color: black;
  }
  .nav2 ul li {
    margin-right: 200px;
  }
  .nav2 ul li span {
    font-size: 26px;
    font-weight: bolder;
    color: rgba(19, 117, 58, 0.911);
  }
  .nav3 ul li {
    margin-right: 20px;
  }
  .nav ul li {
    display: inline-block;
  }
  .nav ul li a:hover{
    color: rgba(19, 117, 58, 0.911);
    transition: .5s;
  }
  .hovernav {
    display: inline-block;
    position: relative;
    color: rgba(19, 117, 58, 0.911);
  }
  
  .hovernav:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(19, 117, 58, 0.911);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hovernav:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .active {
    color: rgba(19, 117, 58, 0.911);
  }
  /* Header Picture */
  #mainF {
    width: 100%;
    height: 650px;
    opacity: 95%;
  }
  .trupi{
    margin-top: 30px;
    font-size: 17px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.trupi img{
    width: 700px;
    height: 450px;
}
.fit1{
    width: 45%;
}
.fit{
    width: 45%;
}
.fit p {
  color: gray;
}
.fit button {
    display: inline-block;
    border-radius: 4px;
    background-color: rgba(19, 117, 58, 0.911);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 220px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 250px;
  }
  
  .fit button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .fit button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .fit button:hover span {
    padding-right: 25px;
  }
  
  .fit button:hover span:after {
    opacity: 1;
    right: 0;
  }

.trupi h1,p{
    margin-left: 30px;
}
.trupi h1 {
  font-size: 36px;
}

hr {
    width: 70%;
    margin: 0 auto;
    color: gray;
  }
  .showitems {
    padding-bottom: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 500px;
    color: gray;
  }
  .item1 {
    height: 300px;
    width: 300px;
  }
  .item1 img {
    width: 100%;
  }
  .item2 {
    height: 300px;
    width: 300px;
  }
  .item2 img {
    width: 100%;
  }
  .item3 {
    height: 300px;
    width: 300px;
  }
  .item3 img {
    width: 100%;
  }
  .showitems a {
    margin-left: 95px;
    color: rgba(19, 117, 58, 0.911);
    font-size: 20px;
  }
  .item1,.item2,.item3 { transition: all .2s ease-in-out; }
  .item1:hover { transform: scale(1.1); }
  .item2:hover { transform: scale(1.1); }
  .item3:hover { transform: scale(1.1); }
  .showitems a:hover {
    color: black;
    transition: .5s;
  }
  .testimonals {
    font-size: 42px;
    line-height: 42px;
    text-align: center;
    margin-top: 44px;
    font-weight: 500;
  }
  .easy {
    text-align: center;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .easy img {
    width: 25%;
    border-radius: 50%;
  }
  
  .easy h2 {
    margin: 6px auto;
    font-weight: 300;
  }
  .easy1 {
    width: 30%;
  }
  .easy2 {
    width: 30%;
  }
  .easy3 {
    width: 30%;
  }
  .easy p {
    width: 400px;
    margin: 10px auto;
    color: #8b8a8a;
    font-size: 20px;
    font-weight: 100;
  }
  
  .easy h3 {
    font-weight: 100;
    color: var(--gray);
    margin-bottom: 20px;
    font-size: 14px;
  }

.subscribe {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.subscribe-box {
  height: 400px;
  background: #fff;
  padding: 60px 100px;
  width: 800px;
  text-align: center;

}
.subscribe-box h1 {
  font-size: 36px;
  color: black;
  margin-bottom: 15px;
  font-weight: 700;
}
.subscribe-box span {
  color: #999;
  font-size: 16px;
}
.subscribe-box hr {
  width: 70px;
  color: rgba(19, 117, 58, 0.911);
  margin: 25px auto;
}
.subscribe-box input {
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #999;
  border-radius: 5px;
  margin-bottom: 25px;
}
.subscribe-box input:focus-visible {
  border: 1px solid rgba(19, 117, 58, 0.911);
  outline: rgba(19, 117, 58, 0.911);
}
.subscribe-box button {
  width: 100%;
  padding: 15px 20px;
  border: 0;
  border-radius: 5px;
  background: rgba(19, 117, 58, 0.911);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  transition: .3s;
}
.subscribe-box button:hover {
  background: #196b49;
}
/* Footer */
  .container{

    max-width: 1170px;
    margin:auto;
    margin-left: 400px;
  }
  .row{
    
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }
  .footer{
    border-top: 1px solid lightslategray;
    background-color: white;
      padding: 70px 0;
  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  .footer-col h4{
    font-size: 18px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: lightslategray;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: black;
    display: block;
    transition: all 0.3s ease;
  } 
  .footer-col ul li a:hover{
    color: rgba(19, 117, 58, 0.911);
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:black;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: rgba(19, 117, 58, 0.911);
  }
  .cnt{
      color: black;
  }
  